/*-- scss:defaults --*/

// Use litera as the base
$theme: "litera" !default;

// Import google fonts
@import 'https://fonts.googleapis.com/css2?family=Roboto';
@import 'https://fonts.googleapis.com/css2?family=Fira+Mono';

// Use Roboto for prose, and Fira Mono for code
$font-family-sans-serif: Roboto !default;
$font-family-monospace: "Fira Mono" !default;
